@import "../../scss/index.scss";

.header{
   position: relative;
   border-bottom: 1px solid #dbdbdb;
   padding-top: 12px;

   // margin-bottom: 20px;
   // padding: 12px 0;
   padding-right: 30px;
   padding-bottom: 12px;
   z-index: 1;
   background-color: $background-light;
   
   .ui.container{
      // width: 100vw !important;
      // padding: 0 !important;
      // margin: 0 !important;
      // background-color: $background-light;
      // width: 100% !important;
      
   }
   &__logo{
      display: flex !important;
      align-items: center;
      padding-top: 0 !important;
      padding-bottom: 0 !important;;
      img{
         height: 35px;
      }
   }
   
}